{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron" style="background:black" ;>
        <div class="container">
            <h1>Photo Gallery</h1>
            <p>Craete account, add photos, comment, rate and enjoy using it...</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('page_index') }}" role="button">Go to Gallery</a></p>
        </div>
    </div>
    <footer>
        <p>Projekt wykonala <em><b>Jolanta Plewa</b></em> na zaliczenie przedmiotu System Interakcyjny. 2017</p>
    </footer>
{% endblock %}